.DS_Store
_mount.command
_open_source_www.command
_open_source_APP.command
_rsynch.command
_migrate.command
_backup/

# APP
APP/platforms/
APP/node_modules/

# WWW
www/node_modules/
www/tests/
www/vendor/