<!--
/*
 * login-veichle/login-veichle.page
 * login page
 * roue: login-veichle
 *
 * NOTES:
 *  User has to
 *  - select its operator name
 *  - select the veichles he's using
 *  - type his "password_timbratura"
 *  - then tap the "Avvia" button
 *
 *  the "Avvia" button do:
 *  step 1: checks internet connection
 *  step 2: try to ping the MGN server API
 *  step 3: checks geo-location service
 *
 *  each step is shown into a loader "Attendi..."
 *
 *  step 4: if everything's ok:
 *  - calls the "startTrackingSession" MGN API to start a brend new tracking-session (for the user, with the selected veichles)
 *  - stores the new session_id into localStorage
 *  - navigate to "tracking"
 *
 *  step 4: if something goes wrong:
 *  - APP reloads workers and veichles list via MGN API
 *
 *  IMPORTANT:
 *  - backgroundMode is disabled on this view:
 *  - APP can't be set in background
 *  - APP is restored when paused in max 0.25"
 *  - backButton is overrided
 *  - screen sleep is allowed
 */
-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/favicon.png" class="title-icon">
      {{ app.appName() }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- content -->
<ion-content [fullscreen]="true">
  <!-- form iniziale -->
  <div id="startingForm"
    *ngIf="true"
    >
    <ion-list>
      <ion-item>
        <ion-label>Operatore</ion-label>  <!-- selezione operatore -->
        <ion-select value=""
          interface="action-sheet"
          cancel-text="Annulla"
          [(ngModel)]="worker"
          >
          <ion-select-option *ngFor="let item of this.workers" [value]="item">{{ item.name }} {{ item.surname }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Veicolo</ion-label>    <!-- selezione veicolo -->
        <ion-select value=""
          interface="action-sheet"
          cancel-text="Annulla"
          [(ngModel)]="veichle"
          >
          <ion-select-option *ngFor="let item of this.veichles" [value]="item">{{ item.manufacter }} {{ item.model }} ({{ item.licence_plate }})</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Codice</ion-label>     <!-- codice timbrata -->
        <ion-input
        [(ngModel)]="code"
        placeholder="Codice timbrata"
        #codeID
        ></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<!-- Footer -->
<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row no-padding no-margin>
        <ion-col col-12 no-padding class="center">

          <!-- start button -->
          <ion-button
            (click)="start()"
            shape="round"
            size="large"
            class="btn-app"
            ><ion-icon name="navigate-outline"></ion-icon>Avvia</ion-button>

          <!-- SOS Caller -->
          <ion-button
            (click)="SOS()"
            shape="round"
            size="large"
            class="btn-app red"
          ><ion-icon name="call-outline"></ion-icon>SOS</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
