div#debug {
  position: absolute;
  width:100%;
  height:80px;
  bottom:80px;
  background-color: orange;
  color:blue;
  font-size: .75em;
  font-style: italic;
}

ul.instructions li {
  text-align: left;
  font-size: .75em;
}
