<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/favicon.png" class="title-icon">
      {{ app.appName() }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- content -->
<ion-content [fullscreen]="true" class="center">

  <h3>{{ current_worker.name }} {{ current_worker.surname }}</h3>
  <img src="assets/ani/car.gif" />
  <br>
  <div id="statusDesc">
    <p [innerHTML]="statusDesc"></p>
  </div>
  <ul class="instructions">
    <li *ngFor="let sInstr of this.instructions" [value]="sInstr">{{ sInstr }}</li>
  </ul>

  <!-- SOS Caller -->
  <ion-button
    (click)="SOS()"
    shape="round"
    size="large"
    class="btn-app red"
  ><ion-icon name="call-outline"></ion-icon>SOS</ion-button>


  <!-- debug GPS data (if DEBUG_GPS==true) -->
  <div id="debug"
    *ngIf="app.debugGPS()"
    >
    {{ gpsData.latitude }}<br>
    {{ gpsData.longitude }}<br>
    {{ gpsData.accuracy }}<br>
    {{ gpsData.timestamp }}<br>
    {{ counter }}
  </div>
</ion-content>

<!-- Footer -->
<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row no-padding no-margin>
        <ion-col col-12 no-padding class="center">
          <!-- pause button -->
          <ion-button
            (click)="pause()"
            shape="round"
            size="large"
            class="btn-app orange"
          >
            <ion-icon name="pause-circle-outline"></ion-icon>
          </ion-button>

          <ion-button
            (click)="stop()"
            shape="round"
            size="large"
            class="btn-app red"
          ><ion-icon name="stop-circle-outline"></ion-icon></ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
