<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/favicon.png" class="title-icon">
      MGN Service
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
A1
  <!-- form iniziale -->
  <div id="startingForm"
    *ngIf="true"
    >
    <ion-list>
      <ion-item>
        <ion-label>Operatore</ion-label>  <!-- selezione operatore -->
        <ion-select value=""
          interface="action-sheet"
          cancel-text="Annulla"
          [(ngModel)]="operator"
          >
          <ion-select-option *ngFor="let item of this.operators" [value]="item">{{ item.name }} {{ item.surname }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Veicolo</ion-label>    <!-- selezione veicolo -->
        <ion-select value=""
          interface="action-sheet"
          cancel-text="Annulla"
          [(ngModel)]="veichle"
          >
          <ion-select-option *ngFor="let item of this.veichles" [value]="item">{{ item.manufacter }} {{ item.model }} ({{ item.licence_plate }})</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

  <!-- geoLocaiton div -->
  <div id="geoLocator"
    *ngIf="false"
    >

    <!-- results -->
    <div id="results"
      *ngIf="error_code === 0"
    >
      <br><br><br>
      <img src="assets/ani/locator.gif" class="ani">
      <br><br>
      <p>Procedi verso la tua destinazione...</p>
    </div>

  </div>
</ion-content>

<!-- Footer -->
<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row no-padding no-margin>
        <ion-col col-12 no-padding class="center">

          <!-- start button -->
          <ion-button
            *ngIf="true"
            (click)="startLocating()"
            shape="round"
          >Avvia</ion-button>

          <!-- stop button -->
          <ion-button
            *ngIf="false"
            (click)="dummy()"
            shape="round"
          >Stop</ion-button>

        </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
